body {
    margin: 40px;
    background-color: lightgrey;
    height: 800px;
    border: 5px solid gray;
}

h1 {
    background-color: darksalmon;
    color: black;
    text-align: center;
}

table {
    width: 100%;
    border: black solid 2px;
}

tr:hover {
    color: black;
    background-color: lightblue;
}

th {
    font-weight: bolder;
}
